<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angular Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
  

<div style="padding:20px;">
<button onclick="document.location.href = '/home/pramudit/angular-project/public/page-2.html'" style="background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;">Go to page-2</button></div>
</body>
</html>
